<% layout('layouts/boilerplate2') %>
<h1 style="text-align: center; font-weight: bold;" class="display-1">EV RESQ</h1>
<img src="map.jpg" alt="map" style="display: block;
margin-left: auto;
margin-right: auto;
width: 50%;">
<br>
<form action="/dashboard2" method="POST">
    <button class="btn btn-danger" style="display:block; margin-left: auto; margin-right: auto; background-color: black; width: 250px; height: 75px;">Request Booking</button>
</form>
<br>


