<% layout('layouts/boilerplate') %>
<div class="features2">
    <div id="box1">
        <div class="1">
        <br><br><br><br><br><h1 style="margin-left: 15%;" class="display-3">Nandani Aggarwal</h1>
        <br><p style="margin-left: 20%;" class="display-6">Phone number: 9023932833</p>
        <br><p style="margin-left: 20%;" class="display-6">Email : nandani@gmail.com</p> 
    </div>  
    </div>
    <div id="box2">
        <div class="1">
            <br><br><br><br><br><h1 style="margin-left: 22%;" class="display-3">Purvi Sindhani</h1>
        <br><p style="margin-left: 20%;" class="display-6">Phone number: 9897588034</p>
        <br><p style="margin-left: 20%;" class="display-6">Email : purvi@gmail.com</p> 
    </div>
    </div>
   </div>
   <br>
