<% layout('layouts/boilerplate') %>
<h1 style="text-align: center; font-weight: bold;" class="display-3">Choose Your Role</h1>
<br>
<div>
<img src="owner.jpg" alt="owner" style="display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 20%;
height: 300px;
width:500px" >
</div>
<br>
<form action="evdetails">
    <button type="submit" class="btn btn-primary" style="display:block; margin-left: auto; margin-right: auto; background-color: black; width: 250px; height: 75px;">EV OWNER</button>
</form>

<br>
<div>
<img src="driver.jpg" alt="driver" style="display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border-radius: 20%;
height: 300px;
width:500px" >
</div>
<br>
<form action="vehicledetails">
    <button type="submit" class="btn btn-primary" style="display:block; margin-left: auto; margin-right: auto; background-color: black; width: 250px; height: 75px;">DRIVER</button>
</form>
<br>
<br>